# Backend API Configuration
# For development, the app will use http://localhost:8000/api by default
# For production/Vercel deployment, set to your production backend URL
VITE_API_URL=https://ncc-tiles.onrender.com/api

# Email configuration (for EmailJS)
VITE_EMAILJS_SERVICE_ID=service_n6hvtqu
VITE_EMAILJS_TEMPLATE_ID=template_4noq088
VITE_EMAILJS_PUBLIC_KEY=1rcAysZ6CGBCfaPTV
VITE_EMAILJS_ADMIN_EMAIL=lungisaniimajozi@gmail.com

